In [1]:
ls

sample_data/

In [2]:
pwd

'/content'

In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('/Train.csv')
df.set_index('Date', inplace=True)

In [7]:
df=pd.read_csv('/Train.csv')
df.set_index('Date', inplace=True)

In [8]:
df.re

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
0,2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000
1,2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169
2,2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191
3,2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956
4,2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2018-08-31,Stock 100,810.402398,953.465125,1763.867523,1014.718528,957.998121,675.953821,102.346000,21.785595,1016713,101.747952
14996,2018-09-28,Stock 100,811.620957,443.679899,1255.300856,392.059390,365.958118,815.913721,-301.200669,0.000000,1042638,102.039499
14997,2018-10-31,Stock 100,739.371050,423.172140,1162.543189,478.844995,396.603049,550.561664,227.299298,56.788344,1077825,101.126752
14998,2018-11-30,Stock 100,741.898496,286.891422,1028.789919,347.793349,358.229637,176.189978,19.405005,5.183536,1003161,102.020776
14999,2018-12-31,Stock 100,772.426342,538.766121,1311.192462,440.572996,493.849915,586.705439,260.221041,65.005348,1021927,102.594684

In [9]:
df.set_index('Date', inplace=True)

In [10]:
df.head()

,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
Date,,,,,,,,,,,
2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000
2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169
2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191
2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956
2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907

In [11]:
df.describe()

,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,1.500000e+04,15000.000000
mean,547.519819,549.476881,1096.996699,604.578098,634.164054,552.653822,0.802641,17.410165,1.050185e+06,101.401818
std,260.201093,260.453313,366.527469,264.000561,292.592581,259.456550,175.843566,25.893009,2.907637e+04,10.298443
min,100.068495,100.199767,214.814273,76.785192,74.296869,100.124239,-493.404528,0.000000,1.000003e+06,68.509892
25%,319.351022,324.739067,832.080518,406.884837,416.449707,328.253976,-109.777787,0.000000,1.024837e+06,95.737983
50%,544.731700,544.898627,1094.930216,567.370669,589.586598,555.204989,2.531044,0.620391,1.050500e+06,100.665047
75%,771.242141,775.209146,1360.909341,773.418198,810.304473,777.533156,113.132409,27.961753,1.075450e+06,106.039544
max,999.907125,999.805167,1992.436554,1556.094765,1885.219463,999.992530,499.025639,141.982375,1.099990e+06,143.008924

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 2006-07-31 to 2018-12-31
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Stock                15000 non-null  object
 1   liabilities          15000 non-null  float64
 2   equity               15000 non-null  float64
 3   total_assets         15000 non-null  float64
 4   current_assets       15000 non-null  float64
 5   current_liabilities  15000 non-null  float64
 6   total_revenue        15000 non-null  float64
 7   net_income           15000 non-null  float64
 8   dividend             15000 non-null  float64
 9   shares_outstanding   15000 non-null  int64
 10  price                15000 non-null  float64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.9+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder

# Create sample data
data = df['Stock']

# Create a LabelEncoder object
le = LabelEncoder()

# Fit and transform the data
data_encoded = le.fit_transform(data)

# Print the encoded data
print(data_encoded)

[0 0 0 ... 2 2 2]

In [16]:
df['Stock']=data_encoded

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
for col in df.columns:
  if(col!='Stock'):
    X_scaled = scaler.fit_transform(data[col].values.reshape(-1, 1))
    data[col] = X_scaled.flatten()
df.head()

KeyError: ignored

In [23]:
def calculate_market_indicators(data):
    # Calculate debt-to-equity ratio
    data['debt_to_equity_ratio'] = data['liabilities'] / data['equity']

    # Calculate return on equity
    data['return_on_equity'] = data['net_income'] / data['equity']

    # Calculate return on assets
    data['return_on_assets'] = data['net_income'] / data['total_assets']

    # Calculate current ratio
    data['current_ratio'] = data['current_assets'] / data['current_liabilities']

    # Calculate earnings per share
    data['eps'] = data['net_income'] / data['shares_outstanding']

    # Calculate price-to-earnings ratio
    data['p_e_ratio'] = data['price'] / data['eps']

    # Calculate dividend yield
    data['dividend_yield'] = data['dividend'] / data['price']
    
    return data

df=calculate_market_indicators(df)
df.head()

,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price,debt_to_equity_ratio,return_on_equity,return_on_assets,current_ratio,eps,p_e_ratio,dividend_yield
Date,,,,,,,,,,,,,,,,,,
2006-07-31,0,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000,0.676584,0.271631,0.162015,1.215600,0.000241,4.142074e+05,0.681840
2006-08-31,0,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169,0.451024,0.229811,0.158379,0.789933,0.000198,5.139243e+05,0.414354
2006-09-29,0,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191,0.770025,0.221879,0.125354,1.185383,0.000122,8.441547e+05,0.279507
2006-10-31,0,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956,2.186788,-0.196440,-0.061642,0.886020,-0.000075,-1.384197e+06,0.000000
2006-11-30,0,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907,0.474605,-0.323270,-0.219225,0.968167,-0.000298,-3.490935e+05,0.000000

In [ ]:

from keras.models import Sequential
from keras.layers import LSTM, Dense, Bidirectional, LeakyReLU,Dropout
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
from keras.losses import mean_squared_error
from keras.metrics import RootMeanSquaredError

def data_reshape(x_train, y_train, n_steps, n_features, X, y):
    # X = []
    # for i in np.arange(n_steps, len(data)):
    #     X.append(data.iloc[i-n_steps:i, :])
    # X = np.array(X)
    # X = np.reshape(X, (X.shape[0], n_steps, n_features))
    for i in np.arange(n_steps, len(x_train)):
        X.append(x_train.iloc[i-n_steps:i, :])
        y.append(y_train.iloc[i, :])
    X, y = np.array(X), np.array(y)
    X = np.reshape(X, (X.shape[0], n_steps, n_features))
    return X, y

# Define the trading strategy function


def trading_strategy(model, X,y_pred):
    y_pred = model.predict(X)
    return y_pred


def lstm_model(model):
    model.add(LSTM(units=120, return_sequences=True, input_shape=(n_steps, n_features), use_bias=True,activation='relu'))
    model.add(Dropout(0.1))
    model.add(LSTM(units=420, use_bias=True,return_sequences=False,activation='relu'))
    model.add(Dropout(0.1))
    model.add(Dense(units=200, activation='relu'))
    model.add(Dense(units=1, activation='relu'))
    model.compile(optimizer='adam', loss=mean_squared_error, metrics=[RootMeanSquaredError()])

    return model



def calculate_market_indicators(data):
    # Calculate debt-to-equity ratio
    data['debt_to_equity_ratio'] = data['liabilities'] / data['equity']
    # Calculate return on equity
    data['return_on_equity'] = data['net_income'] / data['equity']

    # Calculate return on assets
    data['return_on_assets'] = data['net_income'] / data['total_assets']

    # Calculate current ratio
    data['current_ratio'] = data['current_assets'] / data['current_liabilities']

    # Calculate earnings per share
    data['eps'] = data['net_income'] / data['shares_outstanding']

    # Calculate price-to-earnings ratio
    # data['p_e_ratio'] = data['price'] / data['eps']

    # Calculate dividend yield
    # data['dividend_yield'] = data['dividend'] / data['price']
    data_stock=data['Stock']
    data.drop('Stock',inplace=True,axis=1)
    for col in data.columns:
      X_scaled = scaler.fit_transform(data[col].values.reshape(-1, 1))
      data[col] = X_scaled.flatten()  # convert the 2D array back to 1D array
    data['Stock']=data_stock
    return data
    # print(indicators_df.head())

from sklearn.preprocessing import LabelEncoder
def labelencoder(df):
# Create sample data
  data = df['Stock']

  # Create a LabelEncoder object
  le = LabelEncoder()

  # Fit and transform the data
  data_encoded = le.fit_transform(data)
  df['Stock']=data_encoded
  return df



# Print the encoded data
# print(data_encoded)
import pandas as pd
import numpy as np
df=pd.read_csv('/Train.csv')
df.set_index('Date', inplace=True)
df=labelencoder(df)
# Define the number of time steps and features for the LSTM model
df=calculate_market_indicators(df)
n_steps = 5
n_features = df.columns.shape[0]
# df.head()



model = Sequential()
model = lstm_model(model)
# Train the LSTM model
X_train = df[df.columns].iloc[:1400,:]
# y_train = data_model[['Open', 'Close']]
y_train = df[['price']].iloc[:1400,:]
# X_train.dropna(inplace=True,axis=0)
# y_train.dropna(inplace=True,axis=0)
X = []
y = []
X, y = data_reshape(X_train, y_train, n_steps, n_features, X, y)

X_val = df[df.columns].iloc[1400:,:]

# y_train = data_model[['Open', 'Close']]
y_val = df[['price']].iloc[1400:,:]
X_v=[]
y_v=[]
X_v, y_v = data_reshape(X_val, y_val, n_steps, n_features, X_v, y_v)
history = model.fit(X, y, epochs=20, batch_size=10,validation_data=(X_v, y_v))

df_test=pd.read_csv('/Test_x.csv')
df_test=calculate_market_indicators(df_test)
df_test.set_index('Date', inplace=True)
# Use the LSTM model to generate trading signals
df_test=labelencoder(df_test)
# Define the number of time steps and features for the LSTM model
df=calculate_market_indicators(df)
X_test = df_test[df_test.columns]
X_t=[]
X_t=data_reshape_test(X_test,n_steps,n_features,X_t)
def data_reshape_test(x_test, n_steps, n_features, X):
    # X = []
    # for i in np.arange(n_steps, len(data)):
    #     X.append(data.iloc[i-n_steps:i, :])
    # X = np.array(X)
    # X = np.reshape(X, (X.shape[0], n_steps, n_features))
    for i in np.arange(n_steps, len(x_test)):
        X.append(x_test.iloc[i-n_steps:i, :])
        # y.append(y_train.iloc[i, :])
    X = np.array(X)
    X = np.reshape(X, (X.shape[0], n_steps, n_features))
    return X

y_pred = []
y_pred = trading_strategy(model, X_t,y_pred)

Epoch 1/20
140/140 [==============================] - 19s 111ms/step - loss: 0.7911 - root_mean_squared_error: 0.8894 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 2/20
140/140 [==============================] - 13s 96ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 3/20
140/140 [==============================] - 14s 97ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 4/20
140/140 [==============================] - 16s 114ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 5/20
140/140 [==============================] - 27s 195ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 6/20
140/140 [==============================] - 15s 105ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 7/20
140/140 [==============================] - 15s 109ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 8/20
140/140 [==============================] - 15s 109ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 9/20
140/140 [==============================] - 16s 118ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 10/20
140/140 [==============================] - 16s 117ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 11/20
140/140 [==============================] - 15s 105ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 12/20
140/140 [==============================] - 26s 185ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 13/20
140/140 [==============================] - 15s 106ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 14/20
140/140 [==============================] - 14s 97ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 15/20
140/140 [==============================] - 15s 106ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 16/20
140/140 [==============================] - 15s 110ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 17/20
140/140 [==============================] - 18s 131ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 18/20
140/140 [==============================] - 18s 126ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 19/20
140/140 [==============================] - 13s 94ms/step - loss: 0.7897 - root_mean_squared_error: 0.8887 - val_loss: 1.0223 - val_root_mean_squared_error: 1.0111
Epoch 20/20
139/140 [============================>.] - ETA: 0s - loss: 0.7915 - root_mean_squared_error: 0.8897

In [50]:
df_test=pd.read_csv('/Test_x.csv')
df_test

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding
0,2019-01-31,Stock 1,777.137456,411.991482,1189.128938,735.376019,834.292436,101.282767,44.303576,12.430562,1038979
1,2019-02-28,Stock 1,277.194579,499.621626,776.816206,462.172266,447.906629,119.483578,19.410210,4.298036,1033350
2,2019-03-29,Stock 1,496.436651,372.604918,869.041569,529.266640,683.167288,482.381171,-47.940167,0.000000,1093455
3,2019-04-30,Stock 1,484.533101,809.661340,1294.194441,412.770236,350.779135,570.934617,121.963652,31.066241,1047609
4,2019-05-31,Stock 1,290.520190,715.758617,1006.278807,802.761555,892.693784,277.522337,-78.316857,0.000000,1042163
...,...,...,...,...,...,...,...,...,...,...,...
4995,2022-10-31,Stock 100,408.766312,440.569040,849.335352,348.102723,312.827547,150.677789,-3.197117,0.000000,1028799
4996,2022-11-30,Stock 100,492.923805,731.542040,1224.465846,915.110188,892.471680,529.905187,148.531273,30.964416,1004215
4997,2022-12-30,Stock 100,392.331633,705.422815,1097.754448,353.436744,420.021023,963.856236,-19.214152,0.000000,1005944
4998,2023-01-31,Stock 100,273.102651,817.198302,1090.300953,787.193836,962.158503,437.654297,13.658068,3.390605,1028097
4999,2023-02-28,Stock 100,730.523595,532.192933,1262.716528,704.073355,743.358247,370.216809,-100.709161,0.000000,1000408

In [ ]:
df_test=pd.read_csv('/Test_x.csv')
df_test=calculate_market_indicators(df_test)
df_test.set_index('Date', inplace=True)
# Use the LSTM model to generate trading signals
df_test=labelencoder(df_test)
# Define the number of time steps and features for the LSTM model
df=calculate_market_indicators(df)
X_test = df_test[df_test.columns]
X_t=[]
X_t=data_reshape_test(X_test,n_steps,n_features,X_t)
def data_reshape_test(x_test, n_steps, n_features, X):
    # X = []
    # for i in np.arange(n_steps, len(data)):
    #     X.append(data.iloc[i-n_steps:i, :])
    # X = np.array(X)
    # X = np.reshape(X, (X.shape[0], n_steps, n_features))
    for i in np.arange(n_steps, len(x_test)):
        X.append(x_test.iloc[i-n_steps:i, :])
        # y.append(y_train.iloc[i, :])
    X = np.array(X)
    X = np.reshape(X, (X.shape[0], n_steps, n_features))
    return X

y_pred = []
y_pred = trading_strategy(model, X_t,y_pred)
# # Define the trading rules based on the predicted values
# for i in range(len(X_train)-n_steps):
#     if y_pred[i] > X_train['Close'][i+n_steps]:
#         trading_signals.loc[X_train.index[i+n_steps], 'signal'] = 'Buy'
#         trading_signals.loc[X_train.index[i+n_steps],
#                             'price'] = X_train['Close'][i+n_steps]
#     elif y_pred[i] < X_train['Close'][i+n_steps]:
#         trading_signals.loc[X_train.index[i+n_steps], 'signal'] = 'Sell'
#         trading_signals.loc[X_train.index[i+n_steps],
#                             'price'] = X_train['Close'][i+n_steps]
#     else:
#         trading_signals.loc[X_train.index[i+n_steps], 'signal'] = 'Hold'
#         trading_signals.loc[X_train.index[i+n_steps],
#                             'price'] = X_train['Close'][i+n_steps]
# print(trading_signals)